/* Event Page */
.panel-heading {
    padding: 0;
    border: 0;
    background-color: brown;
  }

  .panel-title>a,
  .panel-title>a:active {
    display: block;
    padding: 15px;
    color:antiquewhite;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
  }
  .panel-body{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
  }

  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  } 

  /* panel body */
  input[type=text],
  input[type=date],
  textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=time] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }


  /* Add a background color when the inputs get focus */
  input[type=text]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Logo upload */
  .row {
    margin-top: 1rem;
  }

  .imagePreview {
    width: 180px;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  width: 180px;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
  .exhibitorPreview {
    width: 80%;
    height: 100px;
    background-position: center center;
    background: url(../img/logoeg.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
  }

  .ticketPreview {
    width: 80%;
    height: 100px;
    background-position: center center;
    background: url(../img/logoeg.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
  }

  .btn-danger {
    display:block ;
    border-radius: 0px;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.2);
    width:80%;
    margin-top: -5px;
  }

  

  .del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }

  .exhdel {
    position: absolute;
  
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }

  .tickdel {
    position: absolute;
  
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }

  .imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
  }

  .exhAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightcoral;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
  }

  .tickAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightcoral;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
  }

/* 
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin-left: 2rem;

  } */
  
  
  
  
  
  
  
  
  .imageUpload {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  
  .imageUpload:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  
 
  
  .speakerPreview {
    width: 192px;
    height: 192px;
    position: relative;
    top: 10px;
    left: 0;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    background-image: url(http://i.pravatar.cc/500?img=7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
 
  .keySpeaker {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 2rem;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .keySpeaker input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
 

  .keySpeaker .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
.keySpeaker:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.keySpeaker input:checked ~ .checkmark {
  background-color: brown;
}
/* Create the checkmark/indicator (hidden when not checked) */
.keySpeaker .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.keySpeaker input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.keySpeaker .checkmark:after {
  left: 6px;
  top: 7px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.CheckCheckBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 2rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CheckCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.CheckCheckBox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.CheckCheckBox:hover input ~ .checkmark {
background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.CheckCheckBox input:checked ~ .checkmark {
background-color: brown;
}
/* Create the checkmark/indicator (hidden when not checked) */
.CheckCheckBox .checkmark:after {
content: "";
position: absolute;
display: none;
}
/* Show the checkmark when checked */
.CheckCheckBox input:checked ~ .checkmark:after {
display: block;
}
/* Style the checkmark/indicator */
.CheckCheckBox .checkmark:after {
left: 6px;
top: 7px;
width: 8px;
height: 15px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

  .fa-edit {
    color: orangered;
  }
  .fa-trash {
    color:orchid;
  }
  .plan-upload{
    margin-left: 1rem;
  }
  #file-upload {
    position: absolute;
    left: -9999px;
    margin-left: 3rem;
  }
  
  label[for="file-upload"] {
    padding: 0.5em;
    display: inline-table;
    background: #8691;
    cursor: pointer;
  }
  
  label[for="file-upload"]:hover {
    background: #8e989f;
  }
  
  #filename {
    padding: 0.5em;
    float: left;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    background: #010a11;
  }
  

  /*# sourceMappingURL=style.css.map */

  