#speakers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: inherit;
    margin-top: 3rem;
  }

  #speakers td,
  #speakers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #speakers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #speakers tr:hover {
    background-color: #ddd;
  }

  #speakers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(98, 93, 124);
    color: white;
  }

  #speakers button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    align-self: inherit;
    outline: none;
    color: #fff;
    background-color: rgb(71, 86, 99);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }

  #speakers button:hover {
    background-color: rgb(62, 116, 160)
  }

  #speakers button:active {
    background-color: rgb(62, 116, 160);
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }

  input[type=text],
  input[type=date],
  textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=time] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }


  /* Add a background color when the inputs get focus */
  input[type=text]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  .spkbtn {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    align-self: inherit;
    outline: none;
    color: #fff;
    background-color: rgb(71, 86, 99);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;

  }

  .avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;
    top: 10px;
  }

  .avatar-upload .avatar-edit input {
    display: none;
  }

  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }

  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }



  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .avatar-upload .avatar-preview > div  {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }